body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  /*background-color: #8EC5FC;*/
  background-image: linear-gradient(62deg, #53a9ff 0%, #b7f3ef 100%);
}
.sub-container {
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}